.instagram-wrapper[data-v-e9a28cfa] {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.instagram-gallery[data-v-e9a28cfa] {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem, -1rem;
  padding-bottom: 3rem;
}
.instagram-gallery-item[data-v-e9a28cfa] {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}
.instagram-gallery-image[data-v-e9a28cfa] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagram-gallery-item a {
  display: block;
  height: 80%;
}
